/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
#home-list {
    background-color: #f0f4f7;
}
.boxes {
    padding: 50px;
}
.submit-button {
    background-color: #f78f20;
    border: none;
}